/*Menu*/
.titulo{
	font-size: 1.5rem;
}
/**Inicio*/
.Inicio{
	background:url(../img/background-inicio-sm.png);
	background-size: cover;
	height: 40vh;
	overflow: hidden;
}

.texto-bienvenidos{
	margin-top: 12rem;
	color: white;
    background-color: rgba(0, 0, 0, 0.24);	
}
/*Experiencia*/
.experiencia{
	background-color:#AEC9ED; 
}

.experiencia a{
	display: block;
	overflow: hidden;

}

.experiencia img{
	background-color: white;
	margin-bottom: 1rem;		
			
}

/*Skils*/

/*Contacto*/

.contacto{
	background-color:#51A991; 
}

/*footer*/
.pie{
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239a5bff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");			
	color: white;
}

.pie a{
	color: white;	
}
.pie i{
	font-size: 2rem;
}


.mid{
	background:url(../img/contact-sm.jpg);
	background-size: cover;
	height: 40vh;
	overflow: hidden;
}